@import "bootstrap.less";



body{
	
	a:hover{
		text-decoration: none;
	}
}

.container{
	#buttons{

		.makeRow();
		text-align: center;
		margin-top: 20px;

		div.span4{
			text-align: center;
				
			#new-game{
				.btn; .btn-success;
			}
			
			#join-game{
				.btn; .btn-info; 
			}
		}
	}
}